body {
    background-color: white;
}

h1 {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: black;
}

p {
    color: black;
    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    line-height: 1.3;
    word-spacing: 6px;
}

.exemplo-back {
    height: 100px;
    background: gray url("../img/background.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

.botao {
    margin-left: 33%;
    background: green;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 9px;
    text-decoration: none;
}

.botao:hover {
    background: blue;
}

.teste {
    max-width: 800px;
    height: 150px;
    background: cyan;
}